<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/itens/itens.css">
    <title>Itens Cadastro</title>
</head>
<body>
     <form action="/cadastroitem" method="post">
        <input type="text"   id="nome"  name="nome" placeholder="nome">
        <input type="text"   id="tipo"name="tipo" placeholder="tipo">
        <input type="number" id="atk"name="atk" placeholder="atk">
        <input type="number" id="def"name="def" placeholder="def">
        <input type="number" id="hp"name="hp" placeholder="hp">
        <input type="number" id="spd"name="spd" placeholder="spd">
        <input type="number" id="peso"name="peso" placeholder="peso">
        <input type="file"   id="img"name="img">
        <button type="submit">enviar</button>
     </form>
</body>
</html>
